@{
    Layout = "/Views/Shared/_ExamLayout.cshtml";
}

@model Instructor
@{
    ViewData["Title"] = "Add";
}

<h1>Edit instructor</h1>

<form asp-controller="instructor" asp-action="edit" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Course" class="form-label"></label>
        <input asp-for="Course" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>